<div class="d-flex" *ngIf="router.url !== '/login'">
  
  <nav class="sidebar bg-dark text-white p-3 vh-100 d-flex flex-column">
    <h4 class="mb-4">Menú</h4>
    
    <ul class="nav flex-column mb-auto">
      <li class="nav-item mb-2">
        <a routerLink="/listar" class="nav-link text-white">Listar Usuarios</a>
      </li>
        <li class="nav-item mb-2">
        <a routerLink="/crear" class="nav-link text-white">Crear Usuarios</a>
      </li>

     <li class="nav-item mb-2">
        <a routerLink="/tareas/:id_usuario" class="nav-link text-white">Listar Tareas</a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="/crear-tarea/:id_usuario" class="nav-link text-white">Crear Tarea</a>
      </li>
          </ul>

    <hr>
  </nav>

  <main class="p-4 flex-fill">
    <router-outlet></router-outlet>
  </main>
</div>

<div *ngIf="router.url === '/login'">
  <router-outlet></router-outlet>
</div>