<div class="container-fluid mt-4">

    <h2 class="mb-4">Actualizar Usuario</h2>

    <form [formGroup]="miFormulario" (ngSubmit)="actualizar()" style="max-width: 400px;">
      
      <div class="mb-3">
        <label class="form-label">Nombre:</label>
        <input type="text" formControlName="nombre" class="form-control">
      </div>

    <div class="mb-3">
      <label class="form-label">Correo:</label>
      <input type="email" formControlName="correo" class="form-control">
      <div *ngIf="miFormulario.get('correo')?.errors?.['email'] && miFormulario.get('correo')?.touched" class="text-danger small">
        Formato de correo no válido.
      </div>
    </div>

      <div class="mt-4">
        <button type="submit" class="btn btn-primary" [disabled]="miFormulario.invalid">
          Guardar Cambios
        </button>
        <button type="button" routerLink="/listar" class="btn btn-secondary ms-2">
          Cancelar
        </button>
      </div>

    </form>
  </div>
