<div class="container mt-4">
  <h2 class="mb-3">Lista de Productos</h2>

  <div class="mb-3">
    <input 
      type="text" 
      class="form-control" 
      [(ngModel)]="busqueda" 
      (input)="buscar()" 
      placeholder="Buscar por nombre, tipo, precio venta...">
  </div>

  <table class="table table-striped table-hover table-bordered">
    <thead class="table-primary">
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Stock</th>
        <th *ngIf="authService.esAdmin()">Compra</th>
        <th>Venta</th>
        <th>Anticipo</th>
        <th *ngIf="authService.esAdmin()">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of filtrados">
        <td>{{ pro.codigo }}</td>
        <td>{{ pro.nombre }}</td>
        <td>{{ pro.tipo }}</td>
        <td>{{ pro.stock }}
        </td>
        <td *ngIf="authService.esAdmin()">$ {{ pro.precio_compra }}</td>
        <td>$ {{ pro.precio_venta }}</td>
        <td>$ {{ pro.anticipo }}</td>
        
        <td *ngIf="authService.esAdmin()">
          <button class="btn btn-primary btn-sm me-2" (click)="irAEditar(pro.codigo!)">Modificar</button>
          <button class="btn btn-secondary btn-sm" (click)="eliminar(pro.codigo!)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="productos.length === 0" class="alert alert-warning">
    No hay productos registrados.
  </div>
</div>